/*card deck image modified from https://www.vector4free.com*/
.card_deck {
    background: url("../img/carddeck.png");
    display: inline-block;
    height: 215px;
    width: 150px;
    border: 1px solid #666;
    border-radius: 8px;
}

#facedown {background-position: -2154px -4px;}

#D2 {background-position: -2px -2px;}
#D3 {background-position: -168px -2px;}
#D4 {background-position: -332px -2px;}
#D5 {background-position: -496px -2px;}
#D6 {background-position: -661px -2px;}
#D7 {background-position: -825px -2px;}
#D8 {background-position: -990px -2px;}
#D9 {background-position: -1155px -2px;}
#D10 {background-position: -1320px -3px;}
#D11 {background-position: -1483px -3px;}
#D12 {background-position: -1648px -4px;}
#D13 {background-position: -1812px -4px;}
#D1 {background-position: -1978px -4px;}

#C2 {background-position: -232px -232px;}
#C3 {background-position: -168px -232px;}
#C4 {background-position: -332px -232px;}
#C5 {background-position: -496px -232px;}
#C6 {background-position: -661px -232px;}
#C7 {background-position: -825px -232px;}
#C8 {background-position: -990px -232px;}
#C9 {background-position: -1155px -232px;}
#C10 {background-position: -1320px -233px;}
#C11 {background-position: -1484px -234px;}
#C12 {background-position: -1647px -233px;}
#C13 {background-position: -1812px -234px;}
#C1 {background-position: -1978px -234px;}

#H2 {background-position: -464px -464px;}
#H3 {background-position: -168px -464px;}
#H4 {background-position: -332px -464px;}
#H5 {background-position: -496px -464px;}
#H6 {background-position: -661px -464px;}
#H7 {background-position: -825px -464px;}
#H8 {background-position: -990px -464px;}
#H9 {background-position: -1155px -464px;}
#H10 {background-position: -1320px -464px;}
#H11 {background-position: -1483px -464px;}
#H12 {background-position: -1648px -464px;}
#H13 {background-position: -1812px -464px;}
#H1 {background-position: -1978px -464px;}


#S2 {background-position: -2px -695px;}
#S3 {background-position: -168px -695px;}
#S4 {background-position: -332px -695px;}
#S5 {background-position: -498px -695px;}
#S6 {background-position: -661px -695px;}
#S7 {background-position: -825px -695px;}
#S8 {background-position: -990px -695px;}
#S9 {background-position: -1156px -695px;}
#S10 {background-position: -1320px -695px;}
#S11 {background-position: -1483px -694px;}
#S12 {background-position: -1648px -694px;}
#S13 {background-position: -1812px -694px;}
#S1 {background-position: -1978px -695px;}

#C2 {
    background-position: -3px -232px;
}

#C3 {
    background-position: -168px -232px;
}

#H2 {
    background-position: -2px -464px;
}

#C8 {
    background-position: -990px -695px;
}
